@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", }))
    {
        @Html.AntiForgeryToken()

        <ul>
            @*Account Management/Audition Locations/Reservations*@
            @if ( (User.IsInRole("Admin") || User.IsInRole("Agency") || User.IsInRole("LocationManager")) && Request.IsAuthenticated)
            {
                <li>
                    
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>@Html.ActionLink("Audition Locations", "Index", "AuditionLocations")</li>
                <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>
            }

            @*Actors Index*@
            @if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Actors", "Index", "Actors")</li>
            }

            @*Agency Information*@
            @if ((User.IsInRole("Admin")) && Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Agents/Agencies Information", "Index", "UserDetails")</li>
            }

            @if ( ( User.IsInRole("Agency") || User.IsInRole("LocationManager")) && Request.IsAuthenticated)
            {
                <li>
                @Html.ActionLink("Account Details", "Details", "UserDetails", new { id = User.Identity.GetUserId() }, null);
                    </li>
            }

            @*Admin Management of User Accounts/Role Types*@
            @if ((User.IsInRole("Admin")) && Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("User Account Management", "Index", "UsersAdmin")</li>
                <li>@Html.ActionLink("User Roles", "Index", "RolesAdmin")</li>
            }

            @*Logoff*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a></li>

        </ul>


    }
}

@*Register and Login when Anonymous user*@
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
