@model Auditions.DATA.EF.Reservation

@{
    ViewBag.Title = "Reservations";
}

<div class="col-md-12 pagetitle">
    <h2>@ViewBag.Title</h2>
    <h4>Details</h4>
</div>
<div class="spacer"></div>

<div>
    <h4>@Html.DisplayFor(model => model.Actor.ActorFirstName)'s Reservation at @Html.DisplayFor(model => model.AuditionLocation.LocationName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor.ActorFullName)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Actor.ActorFirstName)'s Photo
        </dt>

        <dd>
            <img src="~/Content/actorheadshots/@Html.DisplayFor(model => model.Actor.ActorPhoto)" alt="@Model.Actor.ActorPhoto" class="imgcontainer250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditionLocation.AuditionAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditionLocation.AuditionAddress)
        </dd>

        <dt>
            Location Photo
        </dt>

        <dd>
            <img src="~/Content/auditionlocations/@Html.DisplayFor(model => model.AuditionLocation.AuditionPhoto)" alt="@Model.AuditionLocation.AuditionPhoto" class="imgcontainer250" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuditionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
