@model IEnumerable<Auditions.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>


@if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table table-bordered compact table-hover table-striped table-condensed" id="table_id" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLocation.AuditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor.ActorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor.ActorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLocation.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLocation.AuditionLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenSpots)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionLocation.AuditionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.ActorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.ActorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionLocation.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AuditionLocation.AuditionLimit)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OpenSpots)
                </td>
                <td>
                    @if ((User.IsInRole("Admin") || User.IsInRole("Agency") || User.IsInRole("LocationManager")) && Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Details", "Details", new { id = item.AuditionID })</p>
                    }
                    @if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Edit", "Edit", new { id = item.AuditionID })</p>
                        <p>@Html.ActionLink("Delete", "Delete", new { id = item.AuditionID })</p>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@if ((User.IsInRole("Admin") && Request.IsAuthenticated))
{
    <div class="col-md-6">
        @Html.ActionLink("Back to Admin Menu", "AdminMenu", "Admin")
    </div>
}
