@model IEnumerable<Auditions.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<div class="col-md-12 pagetitle">
    <h2>@ViewBag.Title</h2>
</div>
<div class="spacer"></div>


@if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
{
    <p class=" col-md-6">
        @Html.ActionLink("Create New", "Create", "Reservations", null, new { @class = "btn btn-primary" })
    </p>
    <p class="col-md-6">
        @Html.ActionLink("Tile View", "ResTileView", "Reservations", null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table table-bordered compact table-hover table-striped table-condensed" id="table_id" style="width:100%">
    <thead>
        <tr>
            <th>
                Options
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLocation.AuditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor.ActorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor.ActorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLocation.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLocation.AuditionLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenSpots)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if ((User.IsInRole("Admin") || User.IsInRole("Agency") || User.IsInRole("LocationManager")) && Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Details", "Details", new { id = item.AuditionID })</p>
                    }
                    @if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Edit", "Edit", new { id = item.AuditionID })</p>
                        <p>@Html.ActionLink("Delete", "Delete", new { id = item.AuditionID })</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionLocation.AuditionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.ActorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.ActorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionLocation.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AuditionLocation.AuditionLimit)
                </td>
                <td>
                    @Html.DisplayFor(model => item.OpenSpots)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Session["ErrorMessage"] != null)
{
    <div>
        @Session["ErrorMessage"]
    </div>
}

@if (ViewBag.Message != null)
{
    <div>
        @ViewBag.Message
    </div>
}

@if ((User.IsInRole("Admin") && Request.IsAuthenticated))
{
    <div class="col-md-6">
        @Html.ActionLink("Back to Admin Menu", "AdminMenu", "Admin")
    </div>
}
