
@{
    ViewBag.Title = "Admin Menu";
}

<h2>@ViewBag.Title</h2>

<ul>


    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Manage Your Account", "Index", "Manage")</li>
    </ul>
<h2>View, Create, Edit, and Delete:</h2>
<ul>
    <li>@Html.ActionLink("Actors", "Index", "Actors")</li>
    <li>@Html.ActionLink("Audition Locations", "Index", "AuditionLocations")</li>
    <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>
    <li>@Html.ActionLink("Agents/Agencies Information", "Index", "UserDetails")</li>
    <li>@Html.ActionLink("User Account Management", "Index", "UsersAdmin")</li>
    <li>@Html.ActionLink("User Account Types/Roles", "Index", "RolesAdmin")</li>
    @*<li>@Html.ActionLink()</li>
        <li>@Html.ActionLink()</li>
        <li>@Html.ActionLink()</li>
        <li>@Html.ActionLink()</li>
        <li>@Html.ActionLink()</li>
        <li>@Html.ActionLink()</li>
        <li>@Html.ActionLink()</li>*@














</ul>

