@model Auditions.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Administration";
}

<div class="col-md-12 pagetitle">
    <h2>@ViewBag.Title</h2>
    <h4>Delete</h4>
</div>
<div class="spacer"></div>

<h3>Are you sure you want to delete this User?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
