@model Auditions.DATA.EF.AuditionLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuditionLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditionLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditionLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditionPhoto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AuditionPhoto)*@
            <img src="~/Content/auditionlocations/@Model.AuditionPhoto" alt="@Model.AuditionPhoto" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditionDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditionDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
