@model IEnumerable<Auditions.DATA.EF.AuditionLocation>

@{
    ViewBag.Title = "Audition Locations";
}

<div class="col-md-12 pagetitle">
    <h2>@ViewBag.Title</h2>
    <h4>Index</h4>
</div>
<div class="spacer"></div>

@if (User.IsInRole("Admin") || User.IsInRole("LocationManager") && Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table table-bordered compact table-hover table-striped table-condensed" id="table_id" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionLimit)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AuditionPhoto)*@
                    <img src="~/Content/auditionlocations/@Html.DisplayFor(modelItem => item.AuditionPhoto)" alt="@item.AuditionPhoto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("LocationManager") || User.IsInRole("Agency") && Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Details", "Details", new { id = item.LocationID })</p>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("LocationManager") && Request.IsAuthenticated)
                    {
                        <p>@Html.ActionLink("Edit", "Edit", new { id = item.LocationID })</p>
                        <p>@Html.ActionLink("Delete", "Delete", new { id = item.LocationID })</p>
                    }

                </td>
            </tr>
        }
    </tbody>

</table>

@if ((User.IsInRole("Admin") && Request.IsAuthenticated))
{
    <div class="col-md-6">
        @Html.ActionLink("Back to Admin Menu", "AdminMenu", "Admin")
    </div>
}