@model IEnumerable<Auditions.DATA.EF.Actor>

@{

    ViewBag.Title = "Actors";

}
<div class="col-md-12 pagetitle">
    <h2>@ViewBag.Title</h2>
</div>
<div class="spacer"></div>

<div class="topbar-padding">
    @if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
    {
        <p class=" col-md-6">
            @Html.ActionLink("Create New", "Create", "Actors", null, new { @class = "btn btn-primary" })
        </p>
        <p class="col-md-6">
            @Html.ActionLink("Tile View", "ActorTileView", "Actors", null, new { @class = "btn btn-primary" })
        </p>
    }
    <table class="table table-bordered compact table-hover table-striped table-condensed" id="table_id" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActorPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActorFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActorLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActorContactInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.AgentsFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                @if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
                {
                    <th>Options</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ActorPhoto)*@
                        <img src="~/Content/actorheadshots/@Html.DisplayFor(modelItem => item.ActorPhoto)" alt="@item.ActorPhoto" class="imgcontainer250" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActorFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActorLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActorContactInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <div>@Html.DisplayFor(modelItem => item.UserDetail.AgentsFullName)</div>
                        <div>@Html.DisplayFor(modelItem => item.UserDetail.AgencyName)</div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialNotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    @if ((User.IsInRole("Admin") || User.IsInRole("Agency")) && Request.IsAuthenticated)
                    {
                        <td>
                            <p>@Html.ActionLink("Details", "Details", new { id = item.ActorId })</p>
                            <p>@Html.ActionLink("Edit", "Edit", new { id = item.ActorId })</p>
                            <p>@Html.ActionLink("Delete", "Delete", new { id = item.ActorId })</p>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



